<!doctype html>
<html lang="en">
  <head>
    <title>
        <%= title %>
    </title>
    <%- include partials/header.ejs %>
  </head>
  
  <body>
   <%- include('partials/nav'); %>

<main role="main">

<div class="jumbotron">
    <div class="container">
      <h1 class="display-3">List of the songs</h1>
      <p>This page lists the songs from Love Over Gold</p>
    </div>
  </div>

  <div class="songs">
    <ol>
      <li>Telegraph Road</li>
      <li>Private Investigations <a href="/songs/privateinvestigations">Private Investigations</a> </li>
      <li>Industrial Disease</li>
      <li>Love Over Gold  <a href="/songs/loveovergold">Love Over Gold</a></li>
      <li>It Never Rains</li>
    </ol>
 </div>
</main>

<%- include partials/footer.ejs %>
</html>